<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://images.unsplash.com/photo-1682686581580-d99b0230064e?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8"
        alt=""
        srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#"> SAIU A NOVA VERSAO DO ANGULAR</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>
